.container1 {
  margin: 8%;  
}

.contagen {
  display: flex;
  justify-content: center;
}

.container2 {
  font-size: 2rem;
  text-align: center;
  width: 98%;
  border: 2px solid transparent;
  border-bottom-color: #777;
  outline: none;
  background-color: transparent;
  color: #e75b30;
}

.container2:hover {
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}

.container2::placeholder {
  color: #777;
}

.button {
  background-color: #e75b30;
}

@media (min-width: 768px) {
  .container1 {
    margin: 4%;    
  }
  .container2 {
    font-size: 1.3rem;
    width: 35%;
  }
}
