.container1 {
  display: flex;
  justify-content: center;
}

.container3 {
  border: rgb(109, 179, 236) 0.2em solid;
  border-radius: 15%;
  width: 95%;
  padding: 2%;
}

.card {
  padding: 5%;
  width: 95%;
  height: 100%;
  border-radius: 0.4em;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
  border: rgb(186, 202, 245) 0.2em solid;
  text-align: center;
}

.loca,
.temp {
  display: flex;
  justify-content: space-around;
}

.inputf {
  border-radius: 10%;
  font-size: larger;
  border-color: rgb(74, 127, 226);
}

.color1 {
  font-weight: 700;
  color: rgb(202, 107, 43);
  font-size: 20px;
}
.color2 {
  font-weight: 700;
  color: rgb(23, 114, 167);
}

@media (min-width: 768px) {
  
  .container2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .card {    
    width: 50%; 
    padding: 3%; 
    font-size: large;  
  }
  .color1 {    
    font-size: 2rem;
  }
  
}