.container1 {
  display: flex;
  justify-content: center;
}

.card {
  padding: 5%;
  width: 95%;
  height: 100%;
  border-radius: 0.4em;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
  border: rgb(186, 202, 245) 0.2em solid;
  text-align: center;
}


.color1 {
  font-weight: 700;
  color: rgb(202, 107, 43);
  font-size: 20px;
}
.color2 {
  font-weight: 700;
  color: rgb(23, 114, 167);
}

@media (min-width: 768px) {
  .container1 {
    font-size: large;
  }
  .container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .container4 {
    display: flex;
    justify-content: space-around;
  }
  .card {
    padding: 3%;
    width: 50%;
    font-size: large;  
  }
}
