.container {
  height: 20vh;
  width: 100%;
  background-color: rgb(243, 184, 95);
  font-style: oblique;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}
.text {
  margin: 5rem;
  color: rgb(128, 36, 36);
}
