.container{
    height: 100vh;
    background-color: rgb(243, 184, 95);
    font-style: oblique;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.text{
    margin: 5rem;
    color: rgb(128, 36, 36);
}