.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;    
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media (min-width: 768px) {
  .grid {
    width: 100%;
    flex-wrap: wrap;
  }
}
